.nav {
    width: calc(100% - 10px);
    height: 118px;
    padding: 5px;
    background-image: url("/pintura-chorreando.png");
    background-position: 100px 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    position: fixed;
    z-index: 999;

    .container_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #000000db;
        padding: 10px;
        border-radius: 50px;

        .logo {
            width: 70px;
            height: 70px;
        }

        h4 {
            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }
    }

    .menu {
        display: flex;
        gap: 15px;

        a {
            text-decoration: none;
            background-color: #000000cf;
            list-style: none;
            font-weight: 800;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px;
            border-radius: 20px;
        }
    }
}